/*
Copyright 2025 Jimmy Cerra 
MIT license: Permission granted to use without restriction as long as the
copyright and license are included with all whole or substantial copies.
PROVIDED "AS IS" WITH NO WARRANTY. THE AUTHOR(S) ARE NOT LIABLE FOR DAMAGES.
*/

@define-color text #ffffff;
@define-color active_bg alpha(@text, .25);
@define-color hover_bg alpha(@text, 0.125);
@define-color urgent_bg #eb4d4b;
@define-color window_bg rgba(43, 48, 59, 0.5);

.module, #workspaces button {
  background: none;
  border: 1px solid transparent;
  border-radius: 1em;
  box-shadow: inherit;
  min-height: 1em;
  min-width: 1em;
  padding: 0 .25em 0 .25em;
  text-shadow: inherit;
}

.module:hover, #workspaces button:hover {
  background: @hover_bg;
}

.modules-left .module {
  margin: 0 0 0 4px;
}

.modules-right .module, #workspaces button {
  margin: 0 4px 0 0;
}

.sink.muted, #custom-left {
  /* Make two characters look more like 1 character */
  min-width: 1.5em;
  letter-spacing: -.25em;
}

#waybar {
  background: @window_bg;
  color: @text;
  font-family: Adwaita Sans, Noto Sans Symbols, Noto Sans, Sans;
  font-size: 11pt; /* 12pt = 16px = 12288 pango units */
  transition-property: background-color;
  transition-duration: .25s;
}

#workspaces, #workspaces:hover {
  background: none;
  border: none;
  margin-left: 0;
}

#workspaces button.active {
  background: @active_bg;
}

#workspaces button.urgent {
  background: @urgent_bg;
}
