/*
Copyright 2025 Jimmy Cerra 
MIT license: Permission granted to use without restriction as long as the
copyright and license are included with all whole or substantial copies.
PROVIDED "AS IS" WITH NO WARRANTY. THE AUTHOR(S) ARE NOT LIABLE FOR DAMAGES.
*/

@define-color hyprBlue rgb(51, 204, 255); /* a=0.93 in hyprland.conf */
@define-color hyprGray rgb(89, 89, 89); /* a=0.667 in hyprland.conf */
@define-color hyprGreen rgb(0, 255, 153);
/* linear-gradient(45deg, @hypr_blue, @hypr_green) */

@define-color text #ffffff;
@define-color active_bg alpha(@hyprBlue, 0.5); /*alpha(@text, 0.25);*/
@define-color hover_bg alpha(@hyprGreen, 0.5); /*alpha(@text, 0.125);*/
@define-color urgent_bg #eb4d4b;
@define-color window_bg rgba(43, 48, 59, 0.5);
@define-color window_border alpha(@hyprBlue, 0.667);


.module, #workspaces button {
  background: none;
  border: 0px transparent;
  border-radius: 1em;
  box-shadow: inherit;
  margin: 2px;
  min-height: 1.3em;
  min-width: calc(1em+2px);
  padding: 0 .15em 0 .15em;
  text-shadow: inherit;
}

.module:hover, #workspaces button:hover {
  background: linear-gradient(45deg, @active_bg, @hover_bg);
}

.sink.muted, #custom-left {
  /* Make two characters look more like 1 character */
  min-width: 1.5em;
  letter-spacing: -.25em;
}

#waybar {
  background: @window_bg;
  border: 2px solid @window_border;
  border-radius: 1em;
  box-shadow: rgba(26, 26, 26, 238) 4px 4px; /* From hyprland.conf */
  color: @text;
  font-family: Adwaita Sans, Noto Sans Symbols, Noto Sans, Sans;
  font-size: 13pt; /* 12pt = 16px = 12288 pango units */
  transition-property: background-color;
  transition-duration: .25s;
}

#waybar > .horizontal {
  padding: 2px;
}

#workspaces, #workspaces:hover {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

#workspaces button.active {
  background: @active_bg;
}

#workspaces button.urgent {
  background: @urgent_bg;
}

